<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Accounts</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#datepicker1").datepicker();
        });
    </script>
    <script>
        $(function () {
            $("#datepicker2").datepicker();
        });
    </script>
</head>
<body>
<div th:replace="fragments/header :: header">

</div>


<div class="container">
    <div class="container">
        <form th:action="@{/accounts}" th:method="post" th:object="${accountDto}">
            <div class='input-group mb-3'>
                <input type="text" class="form-control text-center" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{transactionType}"
                       hidden="hidden"/>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="from">From</span>
                </div>
                <input type='text' th:field="*{from}" class="form-control text-right" id="datepicker1"/>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="To">To</span>
                </div>
                <input type='text' th:field="*{to}" class="form-control text-right" id="datepicker2"/>
                <button type="submit" class="btn btn-secondary btn-sm">Generate Report</button>
            </div>
        </form>
    </div>
</div>


<div class="container">


    <table class="table table-striped table-sm">
        <thead>
        <tr align="center">
            <th scope="col">Id</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">Car</th>
            <th scope="col">Customer</th>
            <th scope="col">Income</th>
            <th scope="col">Payment</th>
            <th scope="col">Date</th>

        </tr>
        </thead>
        <tbody id="accountsTable">
        <tr align="center" th:each="account, iterationInfo : ${accountDto.accounts}">
            <td th:text="${account.id}"/>
            <td th:text="${#strings.toUpperCase(account.contract.transaction.transactionType)}"/>


            <td>
                <a th:href="@{/customers/{id}(id=${account.contract.transaction.customer.id})}"
                   th:text="${account.contract.transaction.customer.name}"/>
            </td>
            <td>
                <a th:href="@{/cars/{id}(id=${account.contract.transaction.car.id})}"
                   th:text="${account.contract.transaction.car.brand + ' ' + account.contract.transaction.car.model}"/>
            </td>

            <td th:text="${account.income}"/>
            <td th:text="${account.payment}"/>
            <td th:text="${#dates.format(account.date, 'dd-MM-yyyy')}"/>

        </tr>
        <div th:unless="${#lists.isEmpty(accountDto.accounts)}">
            <tr class="font-weight-bold" align="center">
                <td colspan="4">SUM</td>
                <td th:text="${accountDto.sumIncomes}"></td>
                <td th:text="${accountDto.sumPayments}"></td>
                <td/>
            </tr>
            <tr class="font-weight-bold" align="center">
                <td colspan="4">BALANCE</td>
                <td colspan="2" th:text="${accountDto.sumIncomes - accountDto.sumPayments}"></td>
                <td th:text="${#dates.format(accountDto.date, 'dd-MM-yyyy')}"></td>
            </tr>
        </div>
        </tbody>


    </table>

</div>
<footer th:replace="fragments/footer :: footer">

</footer>
</body>
</html>