<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Customer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header">

</div>
<div class="container">
    <form th:action="@{/customers}" th:method="post" th:object="${customerDto}">

        <div class="form-control">
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{type}"
                       hidden="hidden"/>
                <input type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{transactionRequest}"
                       hidden="hidden"/>
            </div>
            <div th:if="${customerDto.type == 'person'}" class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="surname">Surname</span>
                </div>

                <input type="text"
                       th:class="${#fields.hasErrors('customer.surname')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{customer.surname}"
                       th:errorclass="fieldError" required="required"/>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('customer.surname')}"
                          th:errors="*{customer.surname}"/>


            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="name">Name</span>
                </div>

                <input type="text"
                       th:class="${#fields.hasErrors('customer.name')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{customer.name}"
                       th:errorclass="fieldError" required="required"/>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('customer.name')}"
                          th:errors="*{customer.name}"/>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="street">Street</span>
                </div>

                <input th:class="${#fields.hasErrors('customer.address.street')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{customer.address.street}"
                       th:errorclass="fieldError" required="required"/>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="houseNr">House Nr</span>
                </div>

                <input th:class="${#fields.hasErrors('customer.address.houseNumber')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{customer.address.houseNumber}"
                       th:errorclass="fieldError" required="required"/>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="flatNr">Flat Nr</span>
                </div>

                <input th:class="${#fields.hasErrors('customer.address.flatNumber')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{customer.address.flatNumber}"
                       th:errorclass="fieldError"/>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('customer.address.street')}"
                         th:errors="*{customer.address.street}"/>
                    <span class="invalid-feedback"
                          th:if="${#fields.hasErrors('customer.address.houseNumber')}"
                          th:errors="*{customer.address.houseNumber}"/>
                    <span class="invalid-feedback"
                         th:if="${#fields.hasErrors('customer.address.flatNumber')}"
                         th:errors="*{customer.address.flatNumber}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="zipCode">Zip Code</span>
                </div>

                <input th:class="${#fields.hasErrors('customer.address.zipCode')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{customer.address.zipCode}"
                       th:errorclass="fieldError" required="required"/>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="city">City</span>
                </div>

                <input th:class="${#fields.hasErrors('customer.address.city')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{customer.address.city}"
                       th:errorclass="fieldError" required="required"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('customer.address.city')}"
                      th:errors="*{customer.address.city}"/>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('customer.address.zipCode')}"
                          th:errors="*{customer.address.zipCode}"/>
            </div>

            <div th:if="${customerDto.type == 'company'}" class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="nip">NIP</span>
                </div>

                <input th:class="${#fields.hasErrors('customer.nip')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{customer.nip}"
                       th:errorclass="fieldError" required="required"/>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('customer.nip')}"
                          th:errors="*{customer.nip}"/>
            </div>
            <div th:if="${customerDto.type == 'person'}" class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="pesel">PESEL</span>
                </div>

                <input th:class="${#fields.hasErrors('customer.pesel')} ? 'form-control is-invalid' : 'form-control'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{customer.pesel}"
                       th:errorclass="fieldError" required="required"/>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('customer.pesel')}"
                          th:errors="*{customer.pesel}"/>
            </div>


            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add Customer</button>
            </div>


        </div>


    </form>
</div>
<footer th:replace="fragments/footer :: footer">

</footer>
</body>
</html>