<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Car</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">

</div>

<script>
    $(document).ready(function () {
        $("#brand").change(function () {
            var brandCar = $(this).val();
            console.log(brandCar)
            $.get("/dict/models/all?brand=" + brandCar, function (data) {
                $("#model").empty();
                data.forEach(function (item, i) {
                    var option = "<option value = " + item.id + ">" + item.name + "</option>";
                    $("#model").append(option);
                });
            });
        });
    });
</script>
<div class="container">
    <form th:action="@{/cars}" th:method="post" th:object="${carDto}">

        <div class="form-control">
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{transactionRequest}"
                       hidden="hidden"/>
                <input type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{car.customer}"
                       hidden="hidden"/>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="vin">VIN</span>
                </div>

                <input th:class="${#fields.hasErrors('car.vin')} ? 'form-control text-right is-invalid' : 'form-control text-right'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{car.vin}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('car.vin')}" th:errors="*{car.vin}"/>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="brand">Brand</label>
                </div>
                <select class="custom-select" th:field="*{car.brand}" id="brand" th:errorclass="fieldError">
                    <option th:each="brand : ${carDto.dropList.brands}" th:value="${brand.id} "
                            th:text="${brand.name}"></option>
                </select>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="model">Model</label>
                </div>
                <select class="custom-select" th:field="*{car.model}" id="model">

                </select>

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="productionYear">Production Year</label>
                </div>
                <select class="custom-select" th:field="*{car.productionYear}" id="productionYear">
                    <option th:each="productionYear : ${carDto.dropList.productionYears}"
                            th:value="${productionYear.id}"
                            th:text="${productionYear.name}"></option>
                </select>

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="carType">Car Type</label>
                </div>
                <select class="custom-select" th:field="*{car.carType}" id="carType">
                    <option th:each="carType : ${carDto.dropList.carTypes}" th:value="${carType.id}"
                            th:text="${carType.name}"></option>
                </select>

            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="fuel">Fuel</label>
                </div>
                <select class="custom-select" th:field="*{car.fuel}" id="fuel">
                    <option th:each="fuel : ${carDto.dropList.fuels}" th:value="${fuel.id}"
                            th:text="${fuel.name}"></option>
                </select>

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="mileage">Mileage</span>
                </div>

                <input th:class="${#fields.hasErrors('car.mileage')} ? 'form-control text-right is-invalid' : 'form-control text-right'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{car.mileage}"
                       th:errorclass="fieldError"/>
                <div class="input-group-append">
                    <span class="input-group-text">km</span>
                </div>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('car.mileage')}" th:errors="*{car.mileage}"/>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="transmission">Transmission</label>
                </div>
                <select class="custom-select" th:field="*{car.transmission}" id="transmission">
                    <option th:each="transmission : ${carDto.dropList.transmissions}" th:value="${transmission.id}"
                            th:text="${transmission.name}"></option>
                </select>

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="OcNumber">OC Number</span>
                </div>

                <input th:class="${#fields.hasErrors('car.ocNumber')} ? 'form-control text-right is-invalid' : 'form-control text-right'"
                       aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{car.ocNumber}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('car.ocNumber')}"
                      th:errors="*{car.ocNumber}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="registerNumber">Register Number</span>
                </div>

                <input th:class="${#fields.hasErrors('car.registerNumber')} ? 'form-control text-right is-invalid' : 'form-control text-right'" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{car.registerNumber}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('car.registerNumber')}"
                      th:errors="*{car.registerNumber}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="engine">Engine</span>
                </div>

                <input th:class="${#fields.hasErrors('car.engine')} ? 'form-control text-right is-invalid' : 'form-control text-right'" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{car.engine}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('car.engine')}" th:errors="*{car.engine}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="power">Power</span>
                </div>
                <input th:class="${#fields.hasErrors('car.power')} ? 'form-control text-right is-invalid' : 'form-control text-right'" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{car.power}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('car.power')}" th:errors="*{car.power}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="price">Price</span>
                </div>
                <input th:class="${#fields.hasErrors('car.price')} ? 'form-control text-right is-invalid' : 'form-control text-right'" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{car.price}"
                       th:errorclass="fieldError"/>
                <div class="input-group-append">
                    <span class="input-group-text">PLN</span>
                </div>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('car.price')}" th:errors="*{car.price}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea aria-label="With textarea" th:class="${#fields.hasErrors('car.description')} ? 'form-control text-right is-invalid' : 'form-control text-right'" type="text"
                          th:field="*{car.description}"
                          th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('car.description')}"
                      th:errors="*{car.description}"/>
            </div>


            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add vehicle</button>
            </div>


        </div>


    </form>
</div>
<footer th:replace="fragments/footer :: footer">

</footer>
</body>
</html>