<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Customer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1>With Car Dealer in the Clouds</h1>
            <p>We have your dreaming Car</p>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#" img="">Car Dealer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show Cars
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/cars}">Cars For Sale</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/cars/sold}">Sold Cars </a>
                        <a class="dropdown-item" th:href="@{/cars/all}">All Cars</a>
                    </div>
                </li>
                <a class="nav-item nav-link" th:href="@{/cars/new}">Add Car</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-link dropdown-toggle" role="button" id="loginMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Log in
                </a>
                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="loginMenu">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail1">Login</label>
                            <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                                   placeholder="email@example.com"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                                   placeholder="Password"/>
                        </div>

                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New around here? Sign up</a>
                    <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
            </div>
        </div>

    </nav>
</div>
<br/>
<br/>
<br/>
<div class="container">
    <form th:action="@{/customers}" th:method="post" th:object="${addedCustomer}">

        <div class="form-control">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="surname">Surname</span>
                </div>

                <input type="text" class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{surname}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"/>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="name">Name</span>
                </div>

                <input type="text" class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{Name}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="street">Street</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{address.street}"
                       th:errorclass="fieldError"/>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="houseNr">House Nr</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{address.houseNumber}"
                       th:errorclass="fieldError"/>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="flatNr">Flat Nr</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{address.flatNumber}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.houseNumber}"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.flatNumber}"/>
            </div>


            <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="zipCode">Zip Code</span>
            </div>

            <input class="form-control is-invalid" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{address.zipCode}"
                   th:errorclass="fieldError"/>
            <div class="input-group-prepend">
                <span class="input-group-text" id="city">City</span>
            </div>

            <input class="form-control is-invalid" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{address.city}"
                   th:errorclass="fieldError"/>
            <span class="invalid-feedback" th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"/>
            <span class="invalid-feedback" th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}"/>
        </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="nip">NIP</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{nip}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('nip')}" th:errors="*{nip}"/>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="pesel">PESEL</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{pesel}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}"/>
            </div>




            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add Customer</button>
            </div>


        </div>


    </form>
</div>

</body>
</html>