<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Car</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">

</div>


<div class="container">
    <h1>Customer</h1>

    <form th:action="@{/transaction/transfer}" th:method="post" th:object="${transferDto}">

        <div class="form-control">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="vin">Input NIP or PESEL</span>
                </div>

                <input type="text" class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" th:field="*{customer.}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('vin')}" th:errors="*{vin}"/>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="brand">Brand</label>
                </div>
                <select class="custom-select" th:field="*{brand}" id="brand" th:errorclass="fieldError">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"/>
                    <option th:each="brand : ${dropList.brands}" th:value="${brand.id} "
                            th:text="${brand.name}"></option>
                </select>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="model">Model</label>
                </div>
                <select class="custom-select" th:field="*{model}" id="model">

                </select>

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="productionYear">Production Year</label>
                </div>
                <select class="custom-select" th:field="*{productionYear}" id="productionYear">
                    <option th:each="productionYear : ${dropList.productionYears}"
                            th:value="${productionYear.id}"
                            th:text="${productionYear.name}"></option>
                </select>

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="carType">Car Type</label>
                </div>
                <select class="custom-select" th:field="*{carType}" id="carType">
                    <option th:each="carType : ${dropList.carTypes}" th:value="${carType.id}"
                            th:text="${carType.name}"></option>
                </select>

            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="fuel">Fuel</label>
                </div>
                <select class="custom-select" th:field="*{fuel}" id="fuel">
                    <option th:each="fuel : ${dropList.fuels}" th:value="${fuel.id}"
                            th:text="${fuel.name}"></option>
                </select>

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="mileage">Mileage</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{mileage}"
                       th:errorclass="fieldError"/>
                <div class="input-group-append">
                    <span class="input-group-text">km</span>
                </div>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"/>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="transmission">Transmission</label>
                </div>
                <select class="custom-select" th:field="*{transmission}" id="transmission">
                    <option th:each="transmission : ${dropList.transmissions}" th:value="${transmission.id}"
                            th:text="${transmission.name}"></option>
                </select>

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="OcNumber">OC Number</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{ocNumber}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('ocNumber')}" th:errors="*{ocNumber}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="registerNumber">Register Number</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{registerNumber}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('registerNumber')}" th:errors="*{registerNumber}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="engine">Engine</span>
                </div>

                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{engine}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="power">Power</span>
                </div>
                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{power}"
                       th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('power')}" th:errors="*{power}"/>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="price">Price</span>
                </div>
                <input class="form-control is-invalid" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" type="text" th:field="*{price}"
                       th:errorclass="fieldError"/>
                <div class="input-group-append">
                    <span class="input-group-text">zł</span>
                </div>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
            </div>



            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea aria-label="With textarea" class="form-control is-invalid" type="text" th:field="*{description}"
                          th:errorclass="fieldError"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
            </div>


            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add vehicle</button>
            </div>


        </div>


    </form>
</div>
<footer th:replace="fragments/footer :: footer">

</footer>
</body>
</html>