<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="'Car details: ' + ${car.brand + ' ' + car.model}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header">


</div>
<div class="container">

    <h2 th:text="${car.brand + ' ' +  car.model} " class="text-primary text-center"></h2>
    <br/>
    <hr class="divider"/>
    <br/>
    <div class="col-md-12">
        <table class="table table-sm" id="carTable">

            <thead class="thead-dark">
            <tr>
                <th scope="col">Property</th>
                <th scope="col">Value</th>
            </tr>

            </thead>
            <tbody th:object="${car}">
            <tr hidden="hidden">
                <td th:text="*{id}"/>
            </tr>
            <tr>
                <th scope="row">Owner</th>
                <td><a th:href="@{/customers/{id}(id=${car.customer.id})}" th:text="*{customer.name}"/></td>
            </tr>
            <tr>
                <th scope="row">Brand</th>
                <td th:text="*{brand}"/>
            </tr>
            <tr>
                <th scope="row">Model</th>
                <td th:text="*{model}"/>
            </tr>
            <tr>
                <th scope="row">Fuel</th>
                <td th:text="*{fuel}"/>
            </tr>
            <tr>
                <th scope="row">Engine</th>
                <td th:text="*{engine + ' ' + power}"/>
            </tr>
            <tr>
                <th scope="row">Production Year</th>
                <td th:text="*{productionYear}"/>
            </tr>
            <tr>
                <th scope="row">Mileage</th>
                <td th:text="*{mileage  + ' km'}"/>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td th:text="*{price + ' PLN'} "/>
            </tr>


            <tr>
                <th scope="row">Car Type</th>
                <td th:text="*{carType}"/>
            </tr>
            <tr>
                <th scope="row">Transmission</th>
                <td th:text="*{transmission}"/>
            </tr>
            <tr>
                <th scope="row">VIN</th>
                <td th:text="*{vin}"/>
            </tr>
            <tr>
                <th scope="row">Register Number</th>
                <td th:text="*{registerNumber}"/>
            </tr>
            <tr>
                <th scope="row">Oc Number</th>
                <td th:text="*{ocNumber}"/>
            </tr>
            <tr>
                <th scope="row">Test Drives</th>
                <td th:text="*{testDrives} "/>
            </tr>

            <tr>
                <th scope="row">Description</th>
                <td th:text="${car.description}"></td>
            </tr>

            </tbody>
        </table>
        <hr class="divider"/>
        <a th:unless="${car.sold}" th:href="@{/transactions/new/sale   (vin=${car.vin})}" type="button"
                class="btn btn-primary btn-lg btn-block">Sell Car
        </a>
        <hr class="divider"/>
        <a th:href="@{/cars/update/{id}   (id=${car.id})}" type="button"
                class="btn btn-primary btn-lg btn-block">Modify Car
        </a>
        <hr class="divider"/>
        <a th:href="@{/cars/delete/{id}   (id=${car.id})}" type="button"
                class="btn btn-primary btn-lg btn-block">Delete Car
        </a>


    </div>


</div>

<footer th:replace="fragments/footer :: footer">

</footer>
</body>
</html>