<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cars for Sell</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>

</head>
<body>
<h1> Cars For Sale </h1>





<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Model</th>
        <th scope="col">Production Year</th>
        <th scope="col">Mileage</th>
        <th scope="col">Fuel</th>
        <th>Price</th>
        <th>VIN</th>
        <th>Register Number</th>
        <th>Transmission</th>
        <th>Sold</th>
        <th>Details</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="car, iterationInfo : ${cars}">
        <td th:text="${car.id}"/>
        <td th:text="${car.brand}"/>
        <td th:text="${car.model}"/>
        <td th:text="${car.productionYear}"/>
        <td th:text="${car.mileage}"/>
        <td th:text="${car.fuel}"/>
        <td th:text="${car.price}"/>
        <td th:text="${car.vin}"/>
        <td th:text="${car.registerNumber}"/>
        <td th:text="${car.transmission}"/>
        <td th:text="${car.sold}"/>
        <td th:text="${car.sold}"/>
        <td> <a th:href="@{/cars/{parametr}(parametr=${car.id})}" th:text="Details"></a></td>

    </tr>
    </tbody>



</table>


<br/>
<a th:href="@{/}">Strona Główna</a>

</body>
</html>